---
import Layout from "../../layouts/Layout.astro";
import Back from "../../components/Back.astro";

import ReceptesController from "../../classes/ReceptesController";

const receptesController = new ReceptesController();
let usuari = Astro.cookies.get("usuari").value;
let idioma = Astro.cookies.get("idioma").value;

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const nom = data.get("nom");
    const foto = data.get("foto");
    const descripcio = data.get("descripcio");
    const usuari = data.get("usuari");

    await receptesController.createRecepta(nom, foto, descripcio, usuari);

    return Astro.redirect("/");
}
---

<Layout title={idioma === "ca" ? "Nova recepta" : "Nueva receta"}>
    <div
        class="mx-auto w-8/12 bg-white rounded-xl flex flex-col justify-center"
    >
        <form method="post">
            <input value={usuari} name="usuari" type="hidden" />
            <div class="md:flex mb-6 m-5 flex flex-col justify-start">
                <div>
                    <label
                        class="text-rose-500 mb-1 md:mb-0 pr-4 text-xl font-extrabold leading-none tracking-tight uppercase"
                        for="inline-full-name"
                    >
                        {idioma === "ca" ? "Nom" : "Nombre"}
                    </label>
                </div>
                <div>
                    <input
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700"
                        name="nom"
                        type="text"
                    />
                </div>
            </div>

            <div class="md:flex mb-6 m-5 flex flex-col justify-start">
                <div>
                    <label
                        class="text-rose-500 mb-1 md:mb-0 pr-4 text-xl font-extrabold leading-none tracking-tight uppercase"
                        for="inline-full-name"
                    >
                        {idioma === "ca" ? "Foto" : "Foto"}
                    </label>
                </div>
                <div>
                    <input
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700"
                        name="foto"
                        type="text"
                    />
                </div>
            </div>
            <div class="md:flex mb-6 m-5 flex flex-col justify-start">
                <div>
                    <label
                        class="text-rose-500 mb-1 md:mb-0 pr-4 mb-4 text-xl font-extrabold leading-none tracking-tight uppercase"
                        for="inline-full-name"
                    >
                        {idioma === "ca" ? "Descripció" : "Descripción"}
                    </label>
                </div>
                <div>
                    <textarea
                        class="w-full h-44 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700"
                        name="descripcio"></textarea>
                </div>
            </div>
            <div class="flex justify-evenly m-5">
                <Back />
                <button
                    class="text-white bg-rose-900 hover:bg-rose-900 focus:ring-4 focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-rose-600 dark:hover:bg-rose-700 focus:outline-none dark:focus:ring-rose-800"
                    >Enviar</button
                >
            </div>
        </form>
    </div>
</Layout>
