---
const { title } = Astro.props;

let usuari;

if (Astro.cookies.has("usuari")) {
    usuari = Astro.cookies.get("usuari").value;
}

let idioma;

if (Astro.cookies.has("idioma")) {
    idioma = Astro.cookies.get("idioma").value;
} else {
    Astro.cookies.set("idioma", "ca");
    idioma = "ca";
}
---

<div class="flex justify-end gap-4 text-black-700 p-2 mb-4">
    <p class="mt-2">
        {
            usuari ? (
                <a
                    href="/logout"
                    class="bg-rose-500 hover:bg-rose-700 text-white font-bold py-2 px-4 rounded"
                >
                    {usuari} (Logout)
                </a>
            ) : (
                ""
            )
        }
    </p>
    <a href="/catala" class="mt-2">
        <img
            class="w-10"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Flag_of_Catalonia.svg/200px-Flag_of_Catalonia.svg.png"
        />
    </a>
    <a href="/esp" class="mt-2">
        <img
            class="w-10"
            id="button-es"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/200px-Bandera_de_Espa%C3%B1a.svg.png"
        />
    </a>
</div>
<h1 class="text-center text-rose-700 p-2 mb-10 text-5xl uppercase font-bold">
    {title}
</h1>
