---
import Layout from "../../../layouts/Layout.astro";
import ReceptesController from "../../../classes/ReceptesController";
// Exemple d'ús:

const { Id } = Astro.params;

const receptesController = new ReceptesController();

const recepta = await receptesController.getReceptaById(Id);

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const id = data.get("id");

    //console.log("eliminant "+id)

    await receptesController.deleteRecepta(id);

    return Astro.redirect("/");
}

let idioma = Astro.cookies.get("idioma").value;
---

<Layout title={idioma === "ca" ? "Eliminar la recepta" : "Eliminar la receta"}>
    <div
        class="flex flex-col justify-center items-center bg-white rounded-lg m-10 mx-auto w-96"
    >
        <h1 class="mt-10 mb-10">
            {
                idioma === "ca"
                    ? "Segur que vols eliminar"
                    : "¿Seguro que quieres eliminar"
            }
            <span class="font-bold text-pink-900">"{recepta.nom}"</span>?
        </h1>

        <form method="post" class="mb-10">
            <input value={Id} name="id" type="hidden" />
            <button
                class="text-white bg-teal-800 hover:bg-teal-900 focus:ring-4 focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-teal-600 dark:hover:bg-teal-700 focus:outline-none dark:focus:ring-teal-800"
                type="submit">Si</button
            >
            <a href="/">
                <button
                    class="text-white bg-rose-800 hover:bg-rose-900 focus:ring-4 focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-rose-600 dark:hover:bg-rose-700 focus:outline-none dark:focus:ring-rose-800"
                    type="button">No</button
                >
            </a>
        </form>
    </div>
</Layout>
